<div class="container-fluid p-0">
  <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
    <div>
      <a class="navbar-brand" href="{{ "/" | relURL }}">
        <img src="/images/logo_saase.png" alt="{{ .Site.Title }}" width="70">
      </a>
      <span class="navbar-text pr"> by </span>
      <a class="navbar-brand" href="https://apiobuild.com/" target="_blank">
        <img src="/images/logo.png" alt="{{ .Site.Title }}" width="50">
      </a>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {{ $currentPage := . }}
        {{ $menu := sort .Site.Menus.main ".Params.weight" }}
        {{ range $menu }}
        {{ if gt .Weight 0 }}
        <li
          class="navbar-item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active {{end}}">
          <a class="nav-link text-capitalize" href="{{ .URL | relURL }}">{{ .Name }}</a>
        </li>
        {{ end }}
        {{ end }}
      </ul>
    </div>
  </nav>
</div>
