<div class="col col-12">
  <div class="row justify-content-center py-5 px-3 px-sm-5">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6 text-center">
        <h3 class="pb-5">
          Modern Businesses are Built on Complex SaaS Solutions.
        </h3>
        <img class="img-fluid" src="/images/hair-salon.png" alt="First slide" />
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6 pt-3 text-center">
        <h3 class="py-5">Create and Manage Your SaaS Stack in ONE Place.</h3>
        <img
          class="img-fluid"
          src="/images/hair-salon-ui.png"
          alt="First slide"
        />
      </div>
    </div>
    <div class="row px-3 px-sm-5">
      <div class="col-12 text-center">
        <h3 class="py-5">Make SaaS Work for YOU</h3>
      </div>
      <div class="col-12 col-md-4 py-4 px-2 px-sm-4">
        <div class="card shadow text-center" style="height: 380px">
          <span class="py-5">
            <i
              class="fa fa-puzzle-piece"
              style="font-size: 50px; color: orange"
            ></i>
          </span>
          <div class="card-body">
            <h6 style="font-weight: 800">SEAMLESS INTEGRATIONS</h6>
            Your SaaS solutions are integrated with each other automatically.
            Switch from one platform to another completely handsoff with our
            automated migration process.
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 py-4 px-2 px-sm-4">
        <div class="card shadow text-center" style="height: 380px">
          <span class="py-5">
            <i
              class="far fa-money-bill-alt"
              style="font-size: 50px; color: green"
            ></i>
          </span>
          <div class="card-body">
            <h6 style="font-weight: 800">OPTIMIZE COST</h6>
            saase analyze your SaaS solutions usages and cost. Identify missing
            or overlapping functionality and explore lower cost options as your
            business grow.
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 py-4 px-2 px-sm-4">
        <div class="card shadow text-center" style="height: 380px">
          <span class="py-5">
            <i class="fa fa-headset" style="font-size: 50px; color: gray"></i>
          </span>
          <div class="card-body">
            <h6 style="font-weight: 800">CROSS PLATFORM SUPPORT</h6>
            End to end support across your SaaS solutions. Fix problem matters
            to businesses that SaaS platforms don't fix.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
