<div class="col col-12 text-center">
  <h1>Pricing</h1>
  <div class="row align-content-center justify-content-center px-3 px-sm-5">
    <div class="row px-3 px-sm-5">
      <div class="col-12 col-md-4 py-4 px-2 px-lg-4">
        <div class="card shadow">
          <div class="pricing-enlarge text-center">
            <img class="pricing-img" src="/images/pricing-free.png" />
            <h3 style="font-weight: 800" class="pt-3">Free</h3>
            <span>Monthly Subscriptions: <$20</span>
          </div>
          <div class="card-body">
            <div class="pricing-description mb-5">
              Create your SaaS stack for free with one click.
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 py-4 px-2 px-lg-4">
        <div class="card shadow">
          <div class="pricing-enlarge text-center">
            <img class="pricing-img" src="/images/pricing-basic.png" />
            <h3 style="font-weight: 800" class="pt-3">Basic: 10%</h3>
            <span>Monthly Subscriptions: $20-$1000</span>
          </div>
          <div class="card-body">
            <div class="pricing-description mb-5">
              10% of total monthly subscriptions cost for SaaS stack managed by
              saase.
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 py-4 px-2 px-lg-4">
        <div class="card shadow">
          <div class="pricing-enlarge text-center">
            <img class="pricing-img" src="/images/pricing-partner.png" />
            <h3 style="font-weight: 800" class="pt-3">Partner</h3>
            <span>Monthly Subscriptions >$1000</span>
          </div>
          <div class="card-body">
            <div class="pricing-description mb-5">
              Custom discounted rate for monthly subscriptions cost above $1000.
              <div class="pt-3">
                <a
                  href="https://apiobuild.com/docs/docs/introduction/introduction/#contact-us"
                  target="_blank"
                >
                  <button type="button" class="btn btn-outline-primary btn-md">
                    Contact Us
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .pricing-enlarge {
    height: 220px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .pricing-description {
    height: 80px;
  }
  .pricing-details {
    height: 240px;
  }
  .pricing.card {
    padding: 10px;
  }
  .pricing-img {
    width: 80px;
    height: 80px;
  }
</style>
